@import "~bootstrap-icons/font/bootstrap-icons.css";

h1 {
  color: black;
}

.mat-sidenav-container-collapse {
  left: -260px !important;
  transition: all 0.5s ease-in-out;
}

.mat-sidenav-container{
  background-color: white;
  min-height: 50vh !important;
}

#mat-sidenav-container {
  width: 200px;
  position: fixed;
  z-index: 100000;
  background-color: #e0e0e3;
  height: calc(100%);
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

